*.swp
*.swo
*.mp4
*.bak
*.log
*.onnx
*.engine
*.pt
*.pth
*.tar.gz
*.tgz

__pycache__

build/
build*/
conf/nginx
scripts/log*
release/
cscope*
tags*
build_debug/
build_release/
.idea/
build/
logs/
cmake-build-debug/
cmake-build-debug-remote-host/
tests/data
.cache
3rdparty/target/linux_aarch64
3rdparty/target/linux_x86_64
.vscode/settings.json
scripts/x3_convert/calibration_data_rgb_f32_coco
scripts/x3_convert/model_output